body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
}

header {
  background-image: url(../images/01_baobab_ave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 0;
  letter-spacing: 20px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 180px;
  margin-top: 0;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  padding: 16px 32px;
  margin-top: 32px;
  border-radius: 6px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
}

main img {
  max-width: 90%;
}

section {
  margin: 0 auto;
  padding: 100px 100px;
}
section.secondary {
  background-color: beige;
  padding-top: 50px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
  line-height: 1.5;
}

footer ul {
  margin-top: 18px;
  padding: 0px 10px;
}

footer li {
  list-style: none;
  margin: 0;
}

footer a {
  text-decoration: none;
}

.card-body {
  padding: 10px 23px;
}

.card-header.grid {
  grid-gap: 0px;
}

.card img {
  width: 100%;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.secondary h3 {
  margin: 0 0 20px 0;
}

.card h4 {
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-different-width {
  grid-template-columns: 2fr 3fr 2fr;
}

@media (max-width: 900px) {
  header {
    padding: 50px 0;
  }

  header h1 {
    font-size: 48px;
    letter-spacing: 5px;
  }

  header h2 {
    font-size: 20px;
  }

  header a {
    font-size: 7px;
  }

  main img {
    max-width: 70%;
  }

  section {
    margin: 30px 15px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
